<div class="reads">
  <div class="read-box" style="background-image:url(../../../assets/read1img.png);background-position: center center; background-size: cover;">
    <p>{{'reads.second-reads' | translate}}</p>
    <h5>35<i class="fa-regular fa-clock"></i></h5>
</div>
  <div class="read-box" style="background-image:url(../../../assets/read2img.png);background-position: center center; background-size: cover;">
   <p>{{'reads.second-reads' | translate}}</p>
    <h5>256<i class="fa-solid fa-calendar-days"></i></h5>
</div>
  <div class="read-box" style="background-image:url(../../../assets/read3img.png);background-position: center center; background-size: cover;">
   <p>{{'reads.second-reads' | translate}}</p>
    <h5>18<i class="fa-regular fa-circle-check"></i></h5>
</div>

</div>
