.logo{
  margin-bottom:150px ;
}
.main-multi-menu h5{
  color:#999
}

.menu-btn-and-logo{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .menu:hover .menu-items{
  position: relative;
  left:0;
  top:100%;
  display: block;
} */
.menu-items{
  /* position: absolute;
  left:0;
  top:100%; */
  /* display: none; */
  
}
.menu{
  overflow: hidden;
    height: 25px;
    transition: all 0.3s ease-in-out;
}
.menu:not(:first-child){
  margin-top: 20px;
}
.menu:hover{
  overflow: visible;
  height: auto;
}
.fa-chevron-up{
  display: none;
}
.menu:hover .fa-chevron-up{
  display: block;
}
.menu:hover .fa-chevron-down{
  display: none;
}

