<div class="container-fluid">
  <div class="logo mt-1 text-center">
    <img src="../../../assets/Group 80.png" alt="">
  </div>
  <div class="main-multi-menu">
    <h5>الرئيسية</h5>

    <div class="menu">
      <div class="menu-btn-and-logo">
        <div class="menu-name-logo">
          <i class="fa-solid fa-house"></i> منيو رقم 1         
        </div>
  
        <div class="menu-arrow">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </div>
      </div>
     
      <ul class="menu-items">
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
      </ul>
    </div>
    <div class="menu">
      <div class="menu-btn-and-logo">
        <div class="menu-name-logo">
          <i class="fa-solid fa-house"></i> منيو رقم 2         
        </div>
  
        <div class="menu-arrow">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </div>
      </div>
     
      <ul class="menu-items">
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
      </ul>
    </div>
    <div class="menu">
      <div class="menu-btn-and-logo">
        <div class="menu-name-logo">
          <i class="fa-solid fa-house"></i> منيو رقم 3         
        </div>
  
        <div class="menu-arrow">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </div>
      </div>
     
      <ul class="menu-items">
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
      </ul>
    </div>
    <!-- <div class="menu">
      <div class="menu-name-logo">
        <i class="fa-solid fa-house"></i> منيو رقم 1         
      </div>
      
      <div class="menu-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <ul class="menu-items">
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
      </ul>

    </div>
    <div class="menu">
      <div class="menu-name-logo">
        <i class="fa-solid fa-house"></i> منيو رقم 1         
      </div>
      <ul class="menu-items">
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
      </ul>
      <div class="menu-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>

    </div>
    <div class="menu">
      <div class="menu-name-logo">
        <i class="fa-solid fa-house"></i> منيو رقم 1         
      </div>
      <ul class="menu-items">
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
        <li class="menu-item">منيو ميني</li>
      </ul>
      <div class="menu-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </div>

    </div> -->

  </div>
</div>

