.logo {
  margin-bottom: 150px;
  margin-left: 20px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.small-logo {
  display: none;
}
.side-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  background-color: #fff;
  /* overflow: hidden; */
  /* z-index: 9999; */
}
.menu {
  transition: all 0.3s ease;
}

.menu-toggle {
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  top: 20px;
  right: -30px;
  color: #000;
}
.main-multi-menu {
  position: relative;
}
.main-multi-menu h5 {
  color: #999;
}

.menu-btn-and-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu:hover .menu-items {
  position: relative;
  left: 0;
  top: 100%;
  display: block;
}
.menu-title {
  padding: 8px;
}
.menu-items {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
}
.menu-item:hover {
  background-color: yellow;
}
.menu {
  overflow: hidden;
  height: 25px;
  transition: all 0.3s ease-in-out;
  list-style: none;
}
.menu ul {
  list-style: none;
}
.menu:not(:first-child) {
  margin-top: 20px;
}
.menu:hover {
  overflow: visible;
  height: auto;
}
.fa-chevron-up {
  display: none;
}
.menu:hover .fa-chevron-up {
  display: block;
}
.menu:hover .fa-chevron-down {
  display: none;
}

.menu-btn-and-logo {
  margin-bottom: 15px;
}

.account {
  margin-top: 100px;
}

.bottom-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bottom-menu li {
  margin-top: 20px;
}
.menu-btn-and-logo:hover,
.bottom-menu:hover li,
.langauge:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: yellow;
}

.toggle-menu {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  right: -15px;
}

.langauge {
  margin-top: 10px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-manu-mid-btn {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    background-color: #fff;
    z-index: 1000;
    overflow: visible;
  }
  .side-menu.active {
    transform: translateX(0);
    background-color: #fff;
    z-index: 1000;
  }
  .side-manu-mid-btn {
    display: none;
  }
  .small-logo {
    display: none;
  }
  .big-logo {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1122px) {
  .side-menu {
    /* width: 80px; */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: start;
    /* margin-left:80; */
    z-index: 1000;
    background-color: #fff;
    transform: translateX(0);
  }
  .small-logo {
    display: block;
  }
  .big-logo {
    display: none;
  }
  /* .home,.account,.menu-title,.menu-arrow{
    display: none;
  } */
}

@media (min-width: 1123px) {
.side-menu{
  transform: translateX(0);
  width:250px;
}
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
