<div class="side-menu active container-fluid">
  <div class="logo mt-1 text-center">
   <a href="#"><img src="../../../assets/Group 80.png" alt=""></a>
  </div>
  <div class="main-multi-menu">
    <h5 class="home">{{'side-menu.home' | translate}}</h5>

    <div class="menu">
      <div class="menu-btn-and-logo">
        <div class="menu-name-logo">
          <i class="fa-solid fa-house"></i> {{'side-menu.menu-no' | translate}} 1
        </div>

        <div class="menu-arrow">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </div>
      </div>

      <ul class="menu-items">
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
      </ul>
    </div>
    <div class="menu">
      <div class="menu-btn-and-logo">
        <div class="menu-name-logo">
          <i class="fa-solid fa-house"></i>  {{'side-menu.menu-no' | translate}} 2
        </div>

        <div class="menu-arrow">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </div>
      </div>

      <ul class="menu-items">
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
      </ul>
    </div>
    <div class="menu">
      <div class="menu-btn-and-logo">
        <div class="menu-name-logo">
          <i class="fa-solid fa-house"></i>  {{'side-menu.menu-no' | translate}} 3
        </div>

        <div class="menu-arrow">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </div>
      </div>

      <ul class="menu-items">
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
      </ul>
    </div>
    <div class="menu">
      <div class="menu-btn-and-logo">
        <div class="menu-name-logo">
          <i class="fa-solid fa-house"></i>  {{'side-menu.menu-no' | translate}} 4
        </div>

        <div class="menu-arrow">
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </div>
      </div>

      <ul class="menu-items">
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
        <li class="menu-item">{{'side-menu.menu-item' | translate}}</li>
      </ul>
    </div>

        <h5 class="account">{{'side-menu.account' | translate}}</h5>

        <ul class="bottom-menu" >
          <li><i class="fa-solid fa-circle-info"></i> <span>{{'side-menu.help' | translate}}</span></li>
        </ul>
        <ul class="bottom-menu" >
          <li><i class="fa-solid fa-gear"></i> <span>{{'side-menu.settings' | translate}}</span></li>
        </ul>


  </div>

  <a class="langauge" (click)="changeLanguage()"> <i class="fa-solid fa-earth-americas"></i><span>{{lang == 'en' ? "عربي" : "English"}}</span> </a>
</div>

