<div class="wrapper mt-4 mb-4">
  <div class="search-box">
    <div class="search-field">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" />
    </div>
    <button><i class="fa-solid fa-sliders"></i></button>
    <button>
      <i class="fa-solid fa-arrow-up-long arrow"></i>
    </button>
    <button>
      <i class="fa-solid fa-arrow-down-long arrow"></i>
    </button>
  </div>
  <button class="add">{{'general.add-new' | translate}} <i class="fa-solid fa-plus"></i> </button>
</div>
