<div class="container-fluid">
  <div class="row">
    <div class="side-menu col-md-2 col-lg-2">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="content col-sm-12 col-md-7 col-lg-7 mt-5">
      <div class="row">
        <div class="personal-data col-sm-12 col-md-6 col-lg-5">
          <app-person-info></app-person-info>
        </div>
        <div class="personal-rate col-sm-12 col-md-6 col-lg-5">
          <app-rates></app-rates>
        </div>
        <div class="personal-reads col-sm-12 col-md-6 col-lg-5">
          <app-reads></app-reads>
        </div>
      </div>
      <div class="row">
        <app-search-bar></app-search-bar>
        <div class="col-12">
          <app-persons-list></app-persons-list>
        </div>
      </div>
    </div>
    <div class="calendar-and-comments col-md-3 col-lg-3 mt-5">
      <div class="row">
        <app-calendar></app-calendar>
      </div>
      <div class="row">
        <app-comments></app-comments>
      </div>
    </div>
  </div>

</div>
