/* .content .card{
  padding:0
} */


.upper-data{
  display: flex;

}
.side-menu{
  position: relative;
  width:250px;
  height: 100vh;
  padding:0;
  margin:0;
}
/* .side-col{
  width:250px
} */


@media (min-width: 1123px){
  .fluid-side-menu{
    width:260px;
    height: 100vh;
    padding:10px
  }
  .fluid-row{
    display: flex;
  }
  .side-menu{
    width:250px;
    height: 100vh;
  }
  .row-content{
    width:1160px;
    margin-left:10px
  }
}

/* @media (max-width:767px) {
  .side-menu{
    width:90px
  }
  .side-menu:hover{
    width:250px
  }
} */
/* @media (max-width:767px) {
  .side-menu{
    width:90px
  }
  .side-menu:hover{
    width:250px
  }
} */

/* @media (max-width:767px) {
  .side-menu{
    width:90px
  }
  .side-menu:hover{
    width:250px
  }
} */

.content
{
  width:770px;
  padding:0

}
/* @media (max-width:767px) {
.side-menu{
  width:0px;
}

} */
  .persons-list-row{
    margin:0;
    padding:0
  }
  .search-bar{
    padding:0
  }
  .personal-data,.personal-rate{
    width:279px;
    height: 254px;
    padding:0;
    margin:5px
  }
.personal-reads{
      width:195px;
    height: 254px;
    padding:0;
        margin:5px;
}
.persons-list{
  padding:0
}
.calendar-and-comments{
  width:360px
}
