
  mat-card{
  position: relative;
  width:770px;
  margin:0
  }
@media (max-width:1199px) {
  mat-card{
    max-width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}
}
mat-card-content{
  padding:0;

}
mat-card-footer{
  width:100%
}
.table{
  position: relative;
}
.work-days ul{
  margin:0;
  display: flex;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-days  ul li{
  width:19px;
  height: 19px;
  margin:4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-days label{
  display: flex;
  align-items: center;
  justify-content: center;
  width:19px;
  height: 22px;
  border-radius: 3px;
  font-size: 12px;
  border:none
}
.work-days label:hover{
  border:1px solid #999
}

.work-days .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #2385ea;
    border-color: #2385ea;
}
.fa-gear{
  color:#fff;
  background-color:#0871de ;
  padding:8px;
  border-radius: 4px;
}
.setting-data{
  cursor: pointer;
    position: relative;
}
.setting-data .setting-icon{
  color:#999;

}
.setting-btns{
  display: flex;
display: none;
}
.parent-setting-group{
  position: relative;
  z-index: 10000 !important;
}

.parent-setting-group:hover .check-group{
  display: block;
}
.check-group{
  position: absolute;
top: 50px;

    padding:0;
  z-index: 10000;
    background-color: #fff;
    width:162px;
    padding:10px;
    /* height: 162px; */
    list-style: none;
    display: none;

}

.setting-header:hover .check-group{
  display: block;
}
.check-group h6{
  padding:5px;
  text-align: start;
  color:#000
}
.form-check{
 text-align: start;
}
.check-group li{
  width:100%;
  height: 24px;
  padding:5px;
  color:#999
}
.uploaded-files{
  width:100%;
  display: flex;
  align-items: center;
}
.uploaded-files h6{
  font-size: 14px;
  margin:0;
}

.uploaded-files .file-info{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.uploaded-files p{
  width:100%;
  color:#999;
  margin:0;
    text-align: right;
}
/* .setting-icon:hover .setting-btns{
  display: flex;
} */
.setting-btns button{
  margin:3px
}

