<div class="container-fluid" cdkDropList (cdkDropListDropped)="drop($event)">
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
  <app-single-comment cdkDrag></app-single-comment>
</div>

