<div class="conteiner-fluid">
  <div class="card">
    <div class="card-header">
      <div class="date w-50">
        <h5>{{ "general.AppointmentCalendar" | translate }}</h5>
        <div class="arrows">
          <div class="arrow-right">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
          <div class="arrow-left">
            <i class="fa-solid fa-chevron-left"></i>
          </div>
        </div>
      </div>
      <div class="cal d-flex">
        <i class="fa-regular fa-calendar-days"></i>
        <i class="fa-solid fa-chevron-down m-1"></i>
        <input class="date-calnder" type="date" />
      </div>
    </div>
    <div class="card-body">
      <div class="days">
        <div class="day">
          <p class="day-name">{{ "calender.Sat" | translate }}</p>
          <h5 class="day-number">24</h5>
          <div class="day-tasks">
            <div class="task task-one"></div>
            <div class="task task-two"></div>
            <div class="task task-three"></div>
          </div>
        </div>
        <div class="day active">
          <p class="day-name">{{ "calender.Sun" | translate }}</p>
          <h5 class="day-number">25</h5>
          <div class="day-tasks">
            <div class="task task-one"></div>
            <div class="task task-two"></div>
            <div class="task task-three"></div>
          </div>
        </div>
        <div class="day">
          <p class="day-name">{{ "calender.Mon" | translate }}</p>
          <h5 class="day-number">26</h5>
          <div class="day-tasks">
            <div class="task task-one"></div>
            <div class="task task-two"></div>
            <div class="task task-three"></div>
          </div>
        </div>
        <div class="day">
          <p class="day-name">{{ "calender.Tue" | translate }}</p>
          <h5 class="day-number">27</h5>
          <div class="day-tasks">
            <div class="task task-one"></div>
            <div class="task task-two"></div>
            <div class="task task-three"></div>
          </div>
        </div>
        <div class="day">
          <p class="day-name">{{ "calender.Wed" | translate }}</p>
          <h5 class="day-number">28</h5>
          <div class="day-tasks">
            <div class="task task-one"></div>
            <div class="task task-two"></div>
            <div class="task task-three"></div>
          </div>
        </div>
        <div class="day">
          <p class="day-name">{{ "calender.Thu" | translate }}</p>
          <h5 class="day-number">29</h5>
          <div class="day-tasks">
            <div class="task task-one"></div>
            <div class="task task-two"></div>
            <div class="task task-three"></div>
          </div>
        </div>
        <div class="day">
          <p class="day-name">{{ "calender.Fri" | translate }}</p>
          <h5 class="day-number">30</h5>
          <div class="day-tasks">
            <div class="task task-one"></div>
            <div class="task task-two"></div>
            <div class="task task-three"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
