.card{

  height: 116px;
  width:331px
  /* cursor: pointer; */
}
.card:nth-child(2n+1){
background-color: #fff;
}
.card:nth-child(2n+2){
background-color: #fff6e3;
}
.card:hover{
  background-color: #7661e2;
  color:#fff
}
.card i.fa-arrow-left-long{
    padding:7px;
}
.card:hover i.fa-arrow-left-long{

  color:#7661e2;
  background-color: #fff;
  border-radius: 5px;
}

p{
  font-size: 14px;
  color:#999;
  margin:0
}
h6{
  font-size: 14px;
}
.card-body{
  padding:0 10px
}
