.card{

  height: 150px;
  /* cursor: pointer; */
}
.card:nth-child(2n+1){
background-color: #fff;
}
.card:nth-child(2n+2){
background-color: #fff6e3;
}
.card:hover{
  background-color: #7661e2;
  color:#fff
}

p{
  font-size: 14px;
  color:#999;
  margin:0
}
.card-body{
  padding:0 10px
}
