.card-footer .box {
  width: 50%;
  position: relative;
  height: 40px;
}
.card-footer .box:first-child::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #0871de;
  border-radius: 4px;
  right: -15px;
}
.card-footer .box:last-child::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #fdb841;
  border-radius: 4px;
  right: -15px;
}
.card-header .cal .date-calnder {
  position: absolute;
  left: 0%;
  bottom: -15px;
  display: none;
}
