<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="name">
      {{ "person-info.first-person" | translate }}
    </h5>
    <div class="date">
      10مايو - 10يونيو
      <i class="fa-solid fa-chevron-down" style="color: #c1c5cd"></i>
    </div>
  </div>
  <div class="card-body">
    <div class="person-info-row row">
      <div class="col-6 flex-md-column">
        <div class="read mt-2">
          <div
            style="
              background-color: #3dd598;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              display: inline-block;
            "
          ></div>
          &nbsp;&nbsp;{{ "person-info.first-read" | translate }}
          <h4 class="fw-bold">254</h4>
        </div>
        <div class="read">
          <div
            style="
              background-color: #7661e2;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              display: inline-block;
            "
          ></div>
          &nbsp;&nbsp;{{ "person-info.second-read" | translate }}
          <h4 class="fw-bold">120</h4>
        </div>
        <div class="read">
          <div
            style="
              background-color: #f8bf7f;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              display: inline-block;
            "
          ></div>
          &nbsp;&nbsp;{{ "person-info.third-read" | translate }}
          <h4 class="fw-bold">25</h4>
        </div>
      </div>
      <div
        class="col-6 d-flex flex-column align-items-center justify-content-center text-center per-img-name"
      >
        <div class="cir-1">
          <div class="cir-2">
            <div class="cir-3">
              <div class="content">
                <img src="../../../assets/Image-79.png" alt="" />
                <h6 class="mt-2" style="font-size: 14px; font-weight: bold">
                  {{ "person-info.first-person" | translate }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- style="background-image:url(../../../assets/Group\ 1000008389.jpg);object-fit: fill;background-repeat: no-repeat;background-position: top center;" -->
