<div class="card">
  <div class="card-header d-flex justify-content-between">
        <h5 class="name">
{{'person-info.first-person' | translate}}
 </h5>
    <div class="date">
      10مايو - 10يونيو <i class="fa-solid fa-chevron-down" style=" color: #c1c5cd;"></i>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <div class="read mt-2">
          <div style="background-color:#3dd598;width:10px;height: 10px;border-radius: 50%; display: inline-block;"></div>&nbsp;&nbsp;قراءة رقم 1
          <h4 class="fw-bold">254</h4>
        </div>
        <div class="read">
          <div style="background-color:#7661e2;width:10px;height: 10px;border-radius: 50%; display: inline-block;"></div>&nbsp;&nbsp;قراءة رقم 1
          <h4 class="fw-bold">120</h4>
        </div>
        <div class="read">
          <div style="background-color:#f8bf7f;width:10px;height: 10px;border-radius: 50%; display: inline-block;"></div>&nbsp;&nbsp;قراءة رقم 1
          <h4 class="fw-bold">25</h4>
        </div>
      </div>
      <div class="col-7 d-flex flex-column align-items-center justify-content-center text-center" style="background-image:url(../../../assets/Group\ 1000008389.jpg);background-size:contain;background-repeat: no-repeat;background-position: top center;">
              <img src="../../../assets/Image-79.png" alt="">
              <h6 class="mt-2" style="font-size:14px;font-weight: bold;">الموظف الاول</h6>
      </div>
    </div>
  </div>
</div>
