<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h6 class="name">
      {{ "person-info.first-person" | translate }}
    </h6>
    <div class="date">
      10مايو - 10يونيو
      <i class="fa-solid fa-chevron-down" style="color: #c1c5cd"></i>
    </div>
  </div>
  <div class="card-body">
    <div class="person-info-row row">
      <div class="col-5 flex-md-column">
        <div class="read mt-2">
          <div
            style="
              background-color: #3dd598;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              display: inline-block;
            "
          class="read-name"
          ></div>
          <span class="read-name">{{ "person-info.first-read" | translate }}</span>
          <h5 class="fw-bold">254</h5>
        </div>
        <div class="read">
          <div
            style="
              background-color: #7661e2;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              display: inline-block;
            "
            class="read-name"
          ></div>
          <span class="read-name">{{ "person-info.second-read" | translate }}</span>
          <h5 class="fw-bold">120</h5>
        </div>
        <div class="read">
          <div
            style="
              background-color: #f8bf7f;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              display: inline-block;
            "
            class="read-name"
          ></div>
          <span class="read-name">{{ "person-info.third-read" | translate }}</span>
          <h5 class="fw-bold">25</h5>
        </div>
      </div>
      <div
        class="col-7 d-flex flex-column align-items-center justify-content-center text-center per-img-name"
      >
        <div class="cir-1">
          <div class="cir-2">
            <div class="cir-3">
              <div class="content">
                <img src="../../../assets/Image-79.png" alt="" />
                <h6 class="mt-2" style="font-size: 14px; font-weight: bold">
                  {{ "person-info.first-person" | translate }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- style="background-image:url(../../../assets/Group\ 1000008389.jpg);object-fit: fill;background-repeat: no-repeat;background-position: top center;" -->
